.todo-item {
  width: 203px;
  height: 17px;
  margin-bottom: 16px;
  display: flex;
  gap: 4px;
  align-items: flex-end;
  position: relative;
  padding: 0 6px 0 10px;
  background: #DDDDDD;
  border-radius: 16px 32px 0px 0px;
  box-sizing: border-box;

  &::after {
    content: "";
    width: 203px;
    height: 16px;
    top: 17px;
    background: #111111;
    border-radius: 0px 0px 32px 16px;
    display: block;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  &.is-black {
    background: #DDDDDD;

    &::after {
      background: #111111;
    }
  }

  &.is-red {
    background: #FF1E00;

    &::after {
      background: #A91502;
    }
  }

  &.is-blue {
    background: #006FFF;

    &::after {
      background: #004FB6;
    }
  }

  &.is-yellow {
    background: #E1FF00;

    &::after {
      background: #8B9D01;
    }
  }

  &.is-pink {
    background: #FF0084;

    &::after {
      background: #9D0051;
    }
  }
}
